@inherits LayoutComponentBase


<div class="flex min-h-screen bg-gray-50">
    <aside class="w-64 bg-white border-r border-gray-200">
        <NavMenu />
    </aside>
    <main class="flex-1 flex flex-col">
        <div class="flex justify-end items-center h-16 px-6 bg-gray-100 border-b border-gray-200">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank" class="text-blue-600 hover:underline">About</a>
        </div>
        <section class="flex-1 p-6">
            @Body
        </section>
    </main>
</div>

<div id="blazor-error-ui" class="fixed bottom-0 left-0 w-full bg-red-600 text-white p-4 flex items-center justify-between">
    <span>An unhandled error has occurred.</span>
    <div>
        <a href="" class="underline mr-4">Reload</a>
        <a class="cursor-pointer">🗙</a>
    </div>
</div>
